.App {
  text-align: center;
  font-family: sans-serif;
}

.card {
  padding: 90px 70px;
  margin: 20px 20px;
  background-color: #f5e9f7;
  border-color: #a556b3;
  border-style: solid;
  border-width: 5px;
  font-family: "Cairo", sans-serif;
}
